<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    {% if messages %}
      <div class="toast-container">
	{% for message in messages %}
	  <div class="toast">{{ message }}</div>
	{% endfor %}
      </div>
    {% endif %}
    <header>
        <nav class="flex-row">
            <a href="{% url 'home' %}">Home</a>
	    {% if user.is_authenticated %}
	      <a href="{% url 'logout' %}">Logout</a>
	    {% else %}
	      <a href="{% url 'login' %}">Login</a>
	      <a href="{% url 'register_user' %}">Register</a>
	    {% endif %}
	    {% if user.is_superuser %}
		<a href="{% url 'admin:index' %}">Admin</a>
	    {% endif %}
	    {% if user %}
		{{ user.get_username }}
	    {% endif %}
        </nav>
    </header>

    <main class="container">

        {% block content %}
        <!-- Default content or empty block -->
        {% endblock %}
    </main>

    <footer>
        &copy; {% now 'Y' %} bandoncaddy.org All rights reserved.
    </footer>
</body>
</html>
