/**, *::before, *::after {*/
/*  box-sizing: border-box;*/
/*}*/
/**/
body {
  margin: 0;
  padding: 0;
  background: green;
  font-size: 1.4em;
}

input,
button,
select,
textarea {
  font: inherit;
}

.course {
  position: relative;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  background: lightsteelblue;
  border-radius: 50%;
  /* this keeps the element from moving
  when applying the class below */
  border: 4px solid transparent;
}

.course img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.course-highlight {
  border: 4px solid lemonchiffon;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: seagreen;
  padding-top: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

button {
  margin-left: 2rem;
  width: 3rem;
  border-radius: 4px;
  aspect-ratio: 1;
  border: 12px solid peachpuff;
}

.form-fields input {
  border-radius: 5px;
  border: 2px solid #2d9fd9;
  color: #a0d18c;
  font-size: 1.4rem;
  text-indent: 33px;
}

.form-fields input[type=text]:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #2d9fd9;
}

.form-fields input::placeholder {
  text-indent: 33px;
}

.btn {
    padding: 10px 20px;
    background-color: lightblue;
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.toast-container {
  position:fixed;
  top: 1rem;
  right: 1.5rem;
  display: grid;
  justify-items: end;
  gap: 1.5rem;
}

.toast {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.5em 1em;
  background-color: rgba(189, 183,107, 24);
  border-radius: 5px;
  animation: toastIt 3000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

@keyframes toastIt {
  0%, 100% {
    transform: translateY(-150%);
    opacity: 0;
  }
  10%, 90% {
    transform: translateY(0);
    opacity: 1;
  }
}

footer {
  position:fixed;
  bottom: 1rem;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
}

#map {
    height: 100%;
    width: 100%;
}   
#mapModal {
    height: 100%;
    width: 100%;
    max-width: none;
    max-height: none;
    padding: 0;
}
.leaflet-floating-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
