body {
  margin: 0;
  padding: 0;
  background: green;
  font-size: 1.4em;
}  

img {
  height: 50px;
  width: 50px;
  padding: 4px;
}

.course-highlight {
  border: 2px solid #333;
  border-radius: 50%;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: seagreen;
  /*height: 90vh; /* or any desired height */*/
}   

.form-fields input {
  border-radius: 5px;
  border: 2px solid #2d9fd9;
  color: #a0d18c;
  font-size: 1.4rem;
  width: 100%;
}

.form-fields input[type=text]:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #2d9fd9;
}   

.form-fields input {
  text-indent: 10px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.toast-container {
  position:fixed;
  top: 1rem;
  right: 1.5rem;
  display: grid;
  justify-items: end;
  gap: 1.5rem;
}

.toast {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.5em 1em;
  background-color: rgba(189, 183,107, 24);
  border-radius: 5px;
  animation: toastIt 3000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}

@keyframes toastIt {
  0%, 100% {
    transform: translateY(-150%);
    opacity: 0;
  }
  10%, 90% {
    transform: translateY(0);
    opacity: 1;
  }
}

footer {
  position:fixed;
  bottom: 1rem;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
}
